<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
        
            padding: 10px;
        }

        .grid-item {
            height:400px ;
          
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    body {
        background:url(../images/banner.jpg) no-repeat;
        background-attachment:fixed;
        background-position:center;
        background-size:cover;
    
        font-family: 'Raleway', sans-serif;
        font-weight:300;
    }
    
  
    </style>
</head>

<body >
    
    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="container">
        <h1 class="mb-4">Sửa Thông Tin</h1>

        <form action="/trainer/<%= trainer.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <%- include('themsv') %>
        </form>
    
    </div>



</body>

</html>
